@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


.header, .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  flex-wrap: nowrap;
}

.left-links, .right-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none; 
  padding: 0 16px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header a {
  color: grey;
}

.footer a {
  color: #c2c2c2;
}